* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.posts {
  width: 800px;
  padding: 20px 0;
}

.site-container {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  border: 1px solid teal;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__control {
  display: flex;
  margin-left: 10px;
}

.post__control button:not(:last-child) {
  margin-right: 10px;
}

.post:not(:last-child) {
  margin-bottom: 15px;
}

.title {
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}

.postForm input:last-of-type {
  margin-bottom: 20px;
}

.posts__filter {
  margin: 15px 0;
}

.loader__wrapper {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.error {
  color: red;
  text-align: center;
  margin: 20px 0;
}

.singlePost {
  padding: 20px;
}

.comment {
  width: 32%;
  border: 1px solid teal;
  padding: 15px;
  margin-bottom: 15px;
  text-align: justify;
  border-radius: 5px;
}

.comment:not(:nth-child(3n)) {
  margin-right: 20px;
}

.comments .title {
  margin: 30px 0;
}

.comment__name {
  margin-bottom: 10px;
}

.comments__content {
  display: flex;
  flex-wrap: wrap;
}

.loginPage {
  height: 100%;
  padding-top: 80px;
}

.post-enter {
  transform: translateX(-350px);
}

.post-enter-active {
  transform: translateX(0px);
  transition: transform 500ms linear;
}

.post-exit {
  transform: translateX(0px);
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-350px);
  opacity: 0;
  transition: transform 500ms linear, opacity 500ms linear;
}
